doctype html
html
	include head.jade

	body
		div.admin-dashboard
			include main-bar.jade
			main.main-content
				block content
				include activity-bar.jade
			// lightbox
			include lightbox.jade
