div.tool-bar#tool-bar
  div.tool-bar-inside
    ul.main-tools
      li.current
        include ../../public/images/svg/forms.svg
      li
        include ../../public/images/svg/puzzle.svg
      li
        include ../../public/images/svg/icon-grid.svg
      li
        include ../../public/images/svg/layers.svg
      li
        include ../../public/images/svg/chat.svg
