extends layouts/dashboard

block content
	section.dashboard-content
	table#my-ajax-table
		thead
			th Some Attribute
			th Some Other Attribute
		tbody
		script(src="scripts/dashboard-accounts.js", type="text/javascript")
